.pagination {
  flex-wrap: wrap;
  justify-content: space-between;

  .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    color: black;
    background-color: #fff;
    float: left;
    text-decoration: none;
  }
}

/* .active {
  background-color: #4caf50;
  color: white;
} */
