.article-page .banner {
  color: #fff;
  background: #333;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.article-page .banner h1 {
  font-size: 2.8rem;
  font-weight: 600;
  text-align: start;
}

.article-page .banner .article-meta {
  margin: 2rem 0 0;
  display: block;
  position: relative;
  font-weight: 300;
}

.article-page .article-actions {
  text-align: center;
  margin: 1.5rem 0 3rem;
}

.article-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}
.info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

p {
  font-family: "source serif pro", serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}

.card-block textarea {
  border: 0;
  padding: 1.25rem;
}

.card-footer {
  border-top: 1px solid #e5e5e5;
  box-shadow: none !important;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0.75rem 1.25rem;
  background-color: #f5f5f5;
}

.card-footer .btn {
  font-weight: 700;
  float: right;
}
