.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-pills .nav-item {
  float: left;
}

.nav-pills.outline-active .nav-link {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid transparent;
  background: 0 0;
  color: #aaa;
}

ul {
  margin: 0;
  padding: 0;
}
